{% extends "base.html.twig" %}

{% block title %}List {{ parent() }}{% endblock %}

{% block body %}
    <div class="p-5 text-dark rounded border">
        <h1>ToDo Manager</h1>
        <p>Organize your daily tasks</p>
    </div>
{% endblock %}
